<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liushu.crazyandroid">

    <!-- 添加操作闪光灯的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 添加操作振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 授权获取定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 授权修改全局声音设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 使用音场效果必要的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 授予该程序使用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/lancher1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.activity.MainActivity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020101Activity"/>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020102Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020103Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020201Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020202Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020203Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020204Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020205Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020301Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020302Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020303Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020304Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020305Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020306Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020307Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020401Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020402Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020403Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020501Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020502Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020503Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020504Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020505Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020506Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020507Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020508Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020509Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020600Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020700Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020800Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020901Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo021000Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo021100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.OtherActivity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070101Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070102Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070103Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070201Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070300Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070400Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070500Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070600Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080000Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080300Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter09.activity.Demo090100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter09.activity.Demo090300Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100101Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100201Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100300Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100500Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100600Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100700Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100701Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100702Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter11.activity.Demo110000Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter11.activity.Demo110100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter11.activity.Demo110200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter11.activity.Demo110201Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter13.activity.Demo130200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter13.activity.Demo130201Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter13.activity.Demo130300Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter13.activity.Demo130400Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter14.activity.Demo140100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter14.activity.Demo140200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter14.activity.Demo140300Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter15.activity.Demo150200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter15.activity.Demo150201Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070202Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070301Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070401Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070402Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter07.activity.Demo070601Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080101Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.DbResultActivity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080301Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080302Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080303Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter08.activity.Demo080400Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter12.activity.Demo120200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter12.activity.Demo120201Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter12.activity.Demo120300Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter12.activity.Demo120301Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter15.activity.Demo150000Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter15.activity.Demo150100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter16.activity.Demo160100Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter16.activity.Demo160101Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter16.activity.Demo160200Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter10.activity.Demo100000Activity">
        </activity>

        <service android:name=".widget.BindService"/>

        <activity android:name=".ui.stage01.chapter11.activity.Demo110001Activity">
        </activity>
        <activity android:name=".ui.main.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020801Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020802Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020803Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020804Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020805Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020806Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020807Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter02.activity.Demo020902Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter06.activity.Demo060401Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter06.activity.Demo060402Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter06.activity.Demo060403Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter06.activity.Demo060404Activity">
        </activity>
        <activity android:name=".ui.stage01.chapter06.activity.Demo060501Activity">
        </activity>
    </application>

</manifest>