<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dg.user008.crazyandroid">

    <!-- 添加操作闪光灯的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 添加操作振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Demo020101Activity"/>
        <activity android:name=".activity.Demo020102Activity">
        </activity>
        <activity android:name=".activity.Demo020103Activity">
        </activity>
        <activity android:name=".activity.Demo020201Activity">
        </activity>
        <activity android:name=".activity.Demo020202Activity">
        </activity>
        <activity android:name=".activity.Demo020203Activity">
        </activity>
        <activity android:name=".activity.Demo020204Activity">
        </activity>
        <activity android:name=".activity.Demo020205Activity">
        </activity>
        <activity android:name=".activity.Demo020301Activity">
        </activity>
        <activity android:name=".activity.Demo020302Activity">
        </activity>
        <activity android:name=".activity.Demo020303Activity">
        </activity>
        <activity android:name=".activity.Demo020304Activity">
        </activity>
        <activity android:name=".activity.Demo020305Activity">
        </activity>
        <activity android:name=".activity.Demo020306Activity">
        </activity>
        <activity android:name=".activity.Demo020307Activity">
        </activity>
        <activity android:name=".activity.Demo020401Activity">
        </activity>
        <activity android:name=".activity.Demo020402Activity">
        </activity>
        <activity android:name=".activity.Demo020403Activity">
        </activity>
        <activity android:name=".activity.Demo020501Activity">
        </activity>
        <activity android:name=".activity.Demo020502Activity">
        </activity>
        <activity android:name=".activity.Demo020503Activity">
        </activity>
        <activity android:name=".activity.Demo020504Activity">
        </activity>
        <activity android:name=".activity.Demo020505Activity">
        </activity>
        <activity android:name=".activity.Demo020506Activity">
        </activity>
        <activity android:name=".activity.Demo020507Activity">
        </activity>
        <activity android:name=".activity.Demo020508Activity">
        </activity>
        <activity android:name=".activity.Demo020509Activity">
        </activity>
        <activity android:name=".activity.Demo020600Activity">
        </activity>
        <activity android:name=".activity.Demo020700Activity">
        </activity>
        <activity android:name=".activity.Demo020800Activity">
        </activity>
        <activity android:name=".activity.Demo020900Activity">
        </activity>
        <activity android:name=".activity.Demo021000Activity">
        </activity>
        <activity android:name=".activity.Demo021100Activity">
        </activity>
        <activity android:name=".activity.OtherActivity">
        </activity>
        <activity android:name=".activity.Demo070100Activity">
        </activity>
        <activity android:name=".activity.Demo070101Activity">
        </activity>
        <activity android:name=".activity.Demo070102Activity">
        </activity>
    </application>

</manifest>