<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:toos="http://schemas.android.com/apk/res-auto"
          package="com.jaydenxiao.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    >
    <activity
        android:name=".imagePager.BigImagePagerActivity"/>
</application>

</manifest>
